<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Argutin test</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="//api-maps.yandex.ru/2.0.31/?load=package.full&amp;lang=ru-RU" type="text/javascript"></script>
</head>

<body>

<div class="container text-center">
    <div class="row">
        <h3>Добавить точку</h3>
    </div>
    <br/>
    <form th:action="@{/}" method="post">

        <div class="row">
            <div class="form-group ">
                <input type="text" required="required" class="form-control" placeholder="Введите название точки"
                       name="name" id="name"/>
            </div>
        </div>

        <div class="row">
            <div class="form-group ">
                <input type="text" required="required" name="address" id="address" placeholder="Введите адрес точки" class="form-control"/>
            </div>
        </div>

        <div class="row">
            <input class="btn btn-primary" type="submit" value="Добавить"/>
        </div>
    </form>
</div>

<div id="allPoints">
    <a th:href="@{/point(pointId=${point.id})}" th:each="point: ${allPoints}" th:text="${point.name}"></a>
    <input type="hidden" name="addressHidden" th:each="point: ${allPoints}" th:value="${point.address}"/>
</div>

<div class="container text-center">
    <h3>Точки на карте</h3>
    <br/>
    <div class="map" id="yMap"></div>
</div>

<script th:src="@{/js/index.js}"></script>
</body>
</html>