<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${point.name}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&amp;lang=ru_RU"
            type="text/javascript"></script>
</head>
<body>
<div class="row">
    <a th:href="@{/}" th:text="Назад"></a>
</div>
<br/>
<input type="hidden" id="address" name="address" th:value="${point.address}"/>
<div class="row">
    <div class="map col-md-4" id="yMap"></div>
    <div class="col-md-8">
        <div class="row">
            Название: &nbsp; <label th:text="${point.name}"></label>
        </div>
        <div class="row">
            Адрес: &nbsp; <label th:text="${point.address}"></label>
        </div>
    </div>
</div>
<script th:src="@{/js/point.js}"></script>
</body>
</html>
