body {
    margin: 50px;
}

#allPoints {
    margin-top: 30px;
    padding: 10px;
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    height: 100px;
    overflow: auto;
}

.map {
    height: 400px;
}

a {
    text-decoration: underline;
}

.error {
    color: red;
}
